# Diretórios e arquivos do Python
# Ignora ambientes virtuais
venv/
env/
.venv/
redes-neurais-venv/
.redes-neurais-venv/

# Ignora pastas de cache e arquivos temporários
__pycache__/
*.pyc
*.pyo

# Ignora arquivos de editor ou IDE
.history/

# Diretórios e arquivos de Jupyter Notebook
# Ignora a pasta de checkpoints que o Jupyter cria
.ipynb_checkpoints/